#level1 #circlecontainer {
  width: 420px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
#level1 #circlecontainer .clickboxcontainer {
  position: absolute;
  width: 420px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}
#level1 #circlecontainer .clickboxcontainer .clickbox {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(48, 220, 243);
  border: 2px solid rgb(87, 87, 87);
  cursor: pointer;
  z-index: 100;
  pointer-events: auto;
}
#level1 #circlecontainer .clickboxcontainer .clickbox.active {
  background: rgb(173, 33, 185);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(1) {
  -webkit-transform: rotate(-99deg);
          transform: rotate(-99deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(2) {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(3) {
  -webkit-transform: rotate(-81deg);
          transform: rotate(-81deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(4) {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(5) {
  -webkit-transform: rotate(-63deg);
          transform: rotate(-63deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(6) {
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(7) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(8) {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(9) {
  -webkit-transform: rotate(-27deg);
          transform: rotate(-27deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(10) {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(11) {
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(12) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(13) {
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(14) {
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(15) {
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(16) {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(17) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(18) {
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(19) {
  -webkit-transform: rotate(63deg);
          transform: rotate(63deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(20) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(21) {
  -webkit-transform: rotate(81deg);
          transform: rotate(81deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(22) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(23) {
  -webkit-transform: rotate(99deg);
          transform: rotate(99deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(24) {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(25) {
  -webkit-transform: rotate(117deg);
          transform: rotate(117deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(26) {
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(27) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(28) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(29) {
  -webkit-transform: rotate(153deg);
          transform: rotate(153deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(30) {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(31) {
  -webkit-transform: rotate(171deg);
          transform: rotate(171deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(32) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(33) {
  -webkit-transform: rotate(189deg);
          transform: rotate(189deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(34) {
  -webkit-transform: rotate(198deg);
          transform: rotate(198deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(35) {
  -webkit-transform: rotate(207deg);
          transform: rotate(207deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(36) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(37) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(38) {
  -webkit-transform: rotate(234deg);
          transform: rotate(234deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(39) {
  -webkit-transform: rotate(243deg);
          transform: rotate(243deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(40) {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}
#level1 #circlecontainer .clickboxcontainer:nth-child(41) {
  -webkit-transform: rotate(261deg);
          transform: rotate(261deg);
}

#level2 #canvascontainer {
  position: relative;
  height: 500px;
}
#level2 #canvascontainer #outercircle, #level2 #canvascontainer #scanlevel2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#level2 #canvascontainer #outercircle .circlepart, #level2 #canvascontainer #scanlevel2 .circlepart {
  cursor: pointer;
}
#level2 #canvascontainer #outercircle .circlepart:hover, #level2 #canvascontainer #scanlevel2 .circlepart:hover {
  background-color: green;
}
#level2 #canvascontainer #outercircle #segments, #level2 #canvascontainer #outercircle #segments path, #level2 #canvascontainer #scanlevel2 #segments, #level2 #canvascontainer #scanlevel2 #segments path {
  pointer-events: none;
}
#level2 #scanlevel2 {
  top: calc(50% - 5px) !important;
  left: calc(50% - 5px) !important;
  border: 35px solid rgb(247, 247, 247);
}

.hidden {
  display: none;
}

#debug {
  background: lightgray;
}

#scanlevel1, #scanlevel2 {
  position: relative;
  background: black;
  border: 1px solid black;
  border-radius: 50%;
}

.question {
  text-align: center;
}

.hint {
  max-width: 400px;
  background: rgb(252, 242, 112);
  border: 1px solid black;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px;
}

.answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.answers img {
  max-width: 100px;
  cursor: pointer;
}

.external_link_section {
  position: absolute;
  top: 15px;
  right: 15px;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

.fa-github {
  font-size: 36px;
}