#level2{
    
    #canvascontainer{
        position:relative;
        height: 500px;
        #outercircle,#scanlevel2{
            position:absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .circlepart{
                cursor:pointer;
                
            }
            #segments, #segments path{
                pointer-events: none;
            }
        }
        
    } 
    #scanarea{
        img{
            position:relative;
            width:400px;
            z-index: 100;
            margin-top:20px;
        }
        #circle{
            position: relative;
            top: -160px;
            left: 150px;
            .halfone,.halftwo{
                position: absolute;
                top: 0;
                border:10px solid black;
                width: 150px;
                height: 75px;
                border-bottom: 0;
                box-sizing: border-box;
                border-top-left-radius: 175px;
                border-top-right-radius: 175px;
            }
            .halfone{
                transform: rotate(90deg)  rotate3d(1,0,0,13deg);
                left: 85px;
                z-index: 150;
                
            }
            .halftwo{
                transform: rotate(-90deg) rotate3d(1,0,0,-13deg); 
                z-index: 50;
               
                
            }
        }
        
    }
    #scanposition{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 400px;
    }
    
    #lockanswer{
        padding:10px;
        background: rgb(48, 220, 243);
        border:1px solid rgb(87, 87, 87);
        color: black;
        font-size:16px;
        width: 150px;
        margin:0 auto;
        cursor:pointer;
    }



    #scanlevel2{
        top: Calc(50% - 5px) !important;
        left: Calc(50% - 5px) !important;
        border: 35px solid rgb(247, 247, 247);

    }
}