@import "discrete.scss";
@import "continous.scss";
@import "animation.scss";
body{
  position: absolute;
  width: Calc(100vw - 20px);
  margin: 10px;
}
#headline{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#helpbutton{
  cursor:pointer;
}
#menubutton{
  font-size: 35px;
  cursor:pointer;
  float:right;
  padding:5px 10px;
}
.menu,#helpoverlay{
  position:absolute;
  background:rgba(0, 0, 0, 0.884);
  color:white;
  padding: 20px;
  top: 0;
  left:0;
  width: Calc(100% - 40px);
  z-index:99999;
  .menuitem{
    cursor:pointer;
    margin-bottom: 10px;
    font-size: 18px;
    &:hover{
      text-decoration: underline;
    }
  }
}
#level1,#level2{
  position:absolute;
  left:50%;
  transform:translate(-50%,0); 
  max-width: 500px;
 
}
#level1{
  padding: 30px 20px 10px 10px;

}
.hidden{
  display:none;
}
#debug{
  background: lightgray;
  position: absolute;
  top: 100%;
}
#scanlevel1,#scanlevel2 { 
  position:relative;
  background: black;
  border: 1px solid black;
  border-radius: 50%;
}
.question{
 text-align: center;
}
.hint{
  max-width:400px;
  background: rgb(252, 242, 112);
  border: 1px solid black;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px;
}
.answers{
  display:flex;
  justify-content: center;;
  align-items: center;
  img{
    max-width: 100px;
    cursor:pointer;
  }
}

  